*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
*-local.yaml
.idea/
/project/plugins/project
project/boot
bin/
target/
/logs
.cache
.classpath
.project
.settings
logs
analytics-logs/
.*.swp

*.csv
